{% extends "base.html.twig" %}

{% block title %} {% endblock %}

{% block nav %}
<ul class="nav navbar-nav ml-auto">
						
						<li class="nav-item active dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" >Mon profil</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="index.php?page=profil">Informations Profil</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" href="index.php?page=deconnexion">Fiche de paie</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="index.php?page=deconnexion">Se déconnecter</a>
                                
		</div>
	</li>
</ul>

{% endblock %}

{% block contenu %}
</br>
</br>
{% endblock %}