{% extends "base.html.twig" %}

{% block title %} {{ parent() }} S'inscrire {% endblock %}


{% block contenu %}

<div class="container">
    <div class="card text-dark bg-white mt-5 border-primary">
		<div class="card-body">

            <form method="post" enctype="application/x-www-form-urlencoded">
                <h1>Inscription</h1>

                <label for="inputNom" class="sr-only">Nom :</label>
                <input type="name" id="inputNom" name="inputNom" class="form-control" placeholder="Nom" required autofocus>

                <br>

                <label for="inputPrenom" class="sr-only">Prénom :</label>
                <input type="name" id="inputPrenom" name="inputPrenom" class="form-control" placeholder="Prénom" required>

                <br>

                <label for="inputEmail" class="sr-only">Email :</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required>

                <br>

                <label for="inputPassword" class="sr-only">Mot de passe :</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>

                <br>

                <label for="inputPassword2" class="sr-only">Confirmer le mot de passe :</label>
                <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmation du mot de passe" required>

                <br>

                <input type="checkbox" required> J'accepte que les données entrées seront conservées et visible par tout le personnel autorisé.</input>

                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btInscrire">S'inscrire</button>
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock %}